
<hr class="text-white">
<div>
  <div class="container-fluid d-flex w-100 " style="background-color: rgb(0, 0, 0);">
    <div>

      <ul class="mt-5 ms-5">
        <h5>
          <li class="text-white"> Information</li>
        </h5>
        <li class="mt-3" style="color: aliceblue;"> Contact Us</li>
        <li class="mt-3" style="color: aliceblue;"> Terms & Privacy</li>
        <li class="mt-3" style="color: aliceblue;">Do Not Sell My Personal Information</li>

        <li class="mt-3" style="color: aliceblue;"> About Us</li>
        <li class="mt-3" style="color: aliceblue;"> Editorial Team & Policies</li>

        <li class="mt-3" style="color: aliceblue;"> Wedding website</li>

      </ul>

    </div>
    <div>
      <ul class="mt-5 ms-5">
      <h5>  <li class="text-light">Get the VENUE app</li></h5>

        <li class="mt-4" style="color: aliceblue;"> <i class="fa-solid fa-ring fa-beat-fade" style="color: aliceblue;"></i>Plan your party venue's with the VENUE app</li>
      
          <li class="mt-5"><img src="https://i.postimg.cc/nVjQ33NG/googleplay.png" alt="">
          <img src="https://i.postimg.cc/520JmRRx/appstore.png" alt=""></li>

      </ul>
    </div>
    <div>
      <ul class="mt-5 ms-5">
        <h5><li style="color: aliceblue;">Follow us on</li></h5>
        <li class="mt-5">
          <a href="#!" class="text-white me-4">
            <i class="fab fa-facebook-f fa-2x"></i>
          </a>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-google fa-2x"></i>
          </a>
          <a href="#!" class="text-white">
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>


  <div class="text-center py-4 px-4 px-xl-5 " style="background-color: rgb(8, 8, 8);">
    <hr style="color: white;">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
   <h5>   Copyright © 2023. All rights reserved.</h5>
    </div>
    <!-- Copyright -->



  </div>
</div>