<div>
  <h2  class="animate-charcter scroll-text">There’s a place for every couple. We’re glad you chose ours</h2>
</div>
<body>
 
  <div class="row">
    <div class="col-6">
      <img class="w-100" src="https://i.postimg.cc/NMMKxszm/kisspng-wedding-invitation-bridegroom-animation-vector-bouquet-bride-transparent-amp-png-clipart-5cc.png" alt="">
    </div>

    <div class="col-6 ">
      <div class="w-75 mb-5 aa ">
        <h1 class="text-center text-danger mt-5 ">Book Your Venu </h1>

        <form action="" class="w-75 ms-5">
          <input type="text" class="form-control mt-3  " id="p9" placeholder="id" name="id" [(ngModel)]="id">
          <input type="text" class="form-control mt-3 " id="p1" placeholder="Groom Name" name="gname"
            [(ngModel)]="gname">
          <input type="text" class="form-control mt-2" id="p2" placeholder="Bride Name" name="bname"
            [(ngModel)]="bname">
          <input type="text" class="form-control mt-2" id="p3" placeholder="How many days" name="pn3"
            [(ngModel)]="days">
          <label for="p4" class="text-dark" style=" font-size: 16px;font-weight:500;">Start Date:</label>
          <input type="datetime-local" class=" mt-2 ms-3 date" id="p4" name="pn4" [(ngModel)]="sdate"><br>
          <label for="p5" class="text-dark " style="font-size: 16px; font-weight:500;">Ending date:</label>
          <input type="datetime-local" class=" mt-2 ms-3 date" id="p5" placeholder="end date" name="pn5"
            [(ngModel)]="edate">
          <input type="text" class="form-control mt-4" id="p6" placeholder="Advance amount" name="pn6"
            [(ngModel)]="advamt">
          <div class="form-group">

            <textarea class="form-control mt-3" id="exampleTextarea" rows="3" placeholder="Address" name="address"
              [(ngModel)]="address"></textarea>
          </div>
          <input type="text" class="form-control mt-2" id="p8" placeholder="Phone number" name="mobile"
            [(ngModel)]="mobile">


          <button class="btn btn-outline-danger w-100 mt-3 mb-4 fs-5" (click)="book()">Book Now</button>


        </form>
      </div>
    </div>

  </div>

</body>