<header class="py-5" style="background-color: rgb(128, 15, 0);">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder" style="font-family: poppins;">Choose your Venue</h1>
      <p class="lead fw-normal text-white-50 mb-0">We Are with You</p>
      <button class="btn w-25 fs-3 text-light" routerLink="/viewall"
        style="background-color: rgba(250, 235, 215, 0.473);">Lets Start</button>

    </div>


  </div>

</header>


<body>
  <div>
    <div class="row mt-0 ">

      <div class="col-12 mt-3 ">
        <div id="carouselExampleRide" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active " data-bs-interval="5000">

              <img src="https://i.postimg.cc/X7T7tRhm/wedding-venues-oklahoma-outdoor-wedding-venue-Plantation-at-coal-creek.jpg"
                class="d-block w-100  mb-2 " alt="..." style="height:500px;">
              <div class="carousel-caption d-none d-md-block">
                <div class="card shadow  w-50"
                  style="height:400px; border: none; background-color: rgba(245, 245, 220, 0.425);">
                  <div class="card-body">
                    <h1 class="card-title text-danger mt-5">About Us</h1>
                    <p class="card-text fs-4"
                      style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                      we provides you,your favourite destination for your special day.choose us,choose better.contact us
                      for out door wedding,indoor wedding,destination wedding,party etc..
                    </p>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="carousel-item" data-bs-interval="5000">
              <img src="https://i.postimg.cc/fbw5tPmW/restaurant-hall-with-tables-decorated-with-tall-vases-with-roses-1.jpg"
                class="d-block w-100 " style="height:500px;" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <div class="card shadow  w-50"
                  style="height:400px; border: none; background-color: rgba(245, 245, 220, 0.425); margin-left: 500px;">
                  <div class="card-body">
                    <h1 class="card-title text-danger fs-bolder mt-5">Services we offer</h1>
                    <p class="card-text fs-4"
                      style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                      You can able to view all wedding venue and also able to book the venue acoording to your plan.we
                      are always with you to choose your correct destination </p>




                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</body>